@font-face {
  font-family: "Hakgyoansim-Dunggeunmiso";
  src: url("./font/Hakgyoansim-Dunggeunmiso.ttf");
}

body {
  margin: 0;
  font-family: "Hakgyoansim-Dunggeunmiso";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea, select, button {
  font-family: "Hakgyoansim-Dunggeunmiso";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
